@charset "UTF-8";

#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #0180be;
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.icon img {
    animation-name: fadeinoutAnime;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeinoutAnime {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loaded {
    opacity: 0;
    visibility: hidden;
}