@charset "utf-8";

/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Zen Kaku Gothic New*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Zen Kaku Gothic New';
  background-color: #f4f4f4;
  /* ↓ページトップアイコン用 */
  position: relative;
}

/* 背景メイン画像 */
header {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 800px;
  max-width: 100%;
  background-image: url(../image/tainan_sp_header_main.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* SP用大文字 */
.logo2 {
  height: 372px;
  width: 100%;
  background-image: url(../image/tainan_sp_header_taichung.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

.img-bx {
  margin: 0;
  margin-top: -8px;
  margin-left: 8px;
}

.img-bx2 {
  margin: 0;
  transform: translateX(15px);
  margin-top: 8px;
}


.logo {
  z-index: 1000;
  position: relative;
  bottom: 360px;
}

.logo a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}


.menu-checkbox {
  display: none;
}







/* spヘッダー */
header ul {
  transform: translateY(-360px);
}

header li a {
  font-size: 20px;
  font-weight: 700;
}

/* 埋め込み文章 */
.tainan-leadin {
  position: absolute;
  right: 0px;
  bottom: 40px;
  text-align: left;
  width: 247px;
  margin-right: 20px;
}



.menu-active ul {
  display: flex;
}


.menu-active ul li {
  margin-right: 20px;
  margin-bottom: 10px;

}


.menu-active li {
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 40px;
}


.menu-active ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  text-decoration: underline;

}


.menu-checkbox:checked+nav .menu-active nav ul {
  display: flex;
}


ul li a:hover {
  color: #ff8c00;
}


.hamburger-menu {
  cursor: pointer;
  display: none;
  width: 30px;
  height: 30px;
}

/* ハンバーガー背景 */
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27);
  z-index: 1;
}

.menu-overlay.active {
  display: block;
}

.menu-overlay ul {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.menu-overlay ul li {
  margin: 20px 0;
  padding-top: 20px;
  text-decoration: underline;
}

.hamburger-menu,
.close-button {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  cursor: pointer;
  width: 48px;
  height: 48px;
}





main {
  padding: 0 10.7vw;

  /* ↓ページトップアイコン用 */
  position: relative;
}

.only-pc {
  margin-top: 8px;
  margin-left: 8px;
}

/***** ↓見出しの設定↓ *****/
/* 見出しの設定 */
/* h2の<span>にclass="sub-index"の追加をお願いします */
h2 {
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
  height: 40px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: normal;
}

h2::after {
  content: '';
  width: 220px;
  height: 40px;
  background: url(../../common/image/header_flame.svg) no-repeat;
  background-size: contain;
  position: absolute;
  /* bottom: -8px; */
  left: 50%;
  transform: translateX(-50%);

  /* margin-bottom: 40px; */
}

.sub-index {
  font-size: 12px;
}



h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
}


span {
  font-weight: 700;
}

.tainan-2lead {
  text-align: left;
  background-color: rgba(100, 201, 156, 0.20);
  padding: 20px 16px;
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.6;
}


.tainan-2slead {
  text-align: center;
  background-color: rgba(100, 201, 156, 0.20);
  padding: 20px 16px;
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 500;
}

.attraction-sub {
  display: flex;

}

.tainan-flex1,
.tainan-flex2 {
  padding: 2vw;

}

.tainan-borderline {
  margin: 60px;
  border: 0.5px solid #000000;
  height: 1px;
  max-width: 100%;


}

tainan-img2 {
  width: max(37.33vw, 140px);
  object-fit: cover;
  text-align: center;
  margin-bottom: 20px;

}


.tainan-3leadtop {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  border-top: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 12px;
  margin-bottom: 0px;
  font-size: 12px;

}

.healing {
  margin-bottom: 240px;
}

.tainan-3leadtop2 {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  border-top: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 12px;
  margin-bottom: 40px;

}

h4 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 4px;
}


.subtitle {
  text-align: center;
  margin-bottom: 12px;

}

.tainan-img3 {
  display: block;

}

.tainan-3lead {
  line-height: 19.2px;
  padding-bottom: 12px;

}

.tainan-4lead {
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.2;
}


/* モーダル */
.opening-hours {
  text-align: right;
}


.modal-toggle {
  width: 120px;
  position: relative;
  font-size: 10px;
  font-family: 'Noto Sans JP';
  padding: 10px;
  border: 2px solid #EDA184;
  text-align: center;
  font-family: 'Noto Sans JP';
}

.modal-toggle span:before {
  content: "";
  position: absolute;
  top: .6rem;
  right: 2.1px;
  vertical-align: middle;
  border-style: solid;
  border-width: 7px;
  border-color: transparent transparent transparent #EDA184;
}




.tainan-img4 {
  display: block;
  margin-left: auto;
}

h5 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}






/* #footer-area */

#footer-area * {
  font-family: 'Zen Kaku Gothic New';
}

#footer-area .footer-all {
  background-color: #007AB7;
  text-align: center;

}

#footer-area .footer-img-main {
  padding: 0;
  padding-bottom: 20px;
}

#footer-area ol {
  padding: 0;
  margin: auto;
  width: 300px;
  padding-left: 20px;
  z-index: 1;

}

#footer-area ol li {
  font-family: 'Noto Sans JP';
  list-style: none;
  text-align: left;
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  margin-left: 0.5rem;
}

#footer-area a {
  color: #fff;
  text-decoration: none;



}

#footer-area a:hover {
  opacity: 0.5;
}

#footer-area .border-line {
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

#footer-area table {
  margin: auto;
}

#footer-area td {
  width: 33%;
  margin: auto;
  padding: 5px;
  vertical-align: baseline;

}

#footer-area .copy-right {
  color: #fff;
  font-size: 10px;
  padding-bottom: 20px;

}

#footer-area .footer-img-main {
  padding-top: 20px;
}

#footer-area .footer-img-logo {
  display: none;
}

#footer-area .footer-none {
  margin: 20px;
}

/* ↓ページトップアイコン用 */
footer .toppage-btn {
  position: fixed;
  bottom: 20px;
  right: 8px;
  opacity: 0;
  transition: opacity .5s;
}

footer .toppage-btn img {
  width: 48px;
  height: 48px;
  filter: drop-shadow (0 4px 4px rgba(0, 0, 0, 0.25));
}

footer .toppage-btn.active {
  opacity: 1;
}

/* フッターの高さ＋20px分位置を調整する */
footer .toppage-btn.stop {
  position: absolute;
  bottom: 485.047px;
}

footer .toppage-btn img {
  width: 48px;
  height: 48px;
}

/* ↑ページトップアイコン用ここまで */

/* ↓モーダル全体の設定(SP) */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: #F4F4F4;
  width: 100%;
  height: 100%;
  transition: 3000ms ease-out 0ms;
  animation-name: show;
  animation-duration: 1s;
  /* animation-timing-function: 0.3s; */
}

/* ↓モーダルの中身の設定(SP) */
.modal-container {
  /* ↓左右中央に配置する */
  height: 100vh;
  display: grid;
  justify-items: center;
}

/* ↓モーダル表示時のアニメーション */
@keyframes show {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ↓★モーダル内画像★ */
.modal .img {
  width: max(74.66vw, 280px);
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.25);
  margin-top: 80px;
}


/* ↓★閉じるボタン★ */
/* ↓位置の設定(SP) */
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
}

/* ↓マウスを置いた時の設定(SP) */
.modal-close:hover {
  text-decoration: none;
  cursor: pointer;
}

.non-scroll {
  overflow: hidden;
}



@media(max-width: 750px) {
  .menu-active ul {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .menu-checkbox {
    display: none;
  }
}

@media screen and (min-width: 750px) {

  .img-bx {
    margin: 0;
    margin-top: -8px;
    margin-left: 20px;
  }

  /* PCメイン画像 */
  header {
    height: 800px;
    max-width: 100%;
    background-image: url(../image/tainan_pc_header_main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* PC用大文字 */
  .logo2 {
    height: 800px;

    background-image: url(../image/tainan_pc_header_taichung.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);


  }

  .menu-active ul li a {
    text-decoration: none;


  }

  .tainan-leadin {
    width: 482px;
    font-size: 20px;
  }


  main {
    padding: 0 6.076vw;
  }

  .only-pc {
    margin-top: 20px;
    margin-left: 20px;
  }

  h3 {
    text-align: left;
    font-size: 36px;
    padding-left: 40px;
    margin-bottom: 20px;
  }

  .tainan-flex1 {
    padding: 0;
  }

  .tainanpc-flex1 {
    display: flex;
    margin: 0 40px;

  }



  .tainan-img1 {

    width: 43.92vw;
    height: 26.35vw;
    margin-right: 40px;
    object-fit: cover;
  }

  .tainan-img2 {
    max-width: 100%;
    height: 12.44vw;
    width: 21.22vw;
    margin-right: 40px;


  }

  .tainan-2lead {
    width: 35.13vw;
    height: 100%;
    margin: auto 0;
    font-size: 1.464vw;
    background-color: rgba(108, 186, 216, 0.2);
    line-height: 1.6;

  }

  .tainan-2slead {
    width: 35.13vw;
    height: 100%;
    margin: auto 0;
    font-size: 1.464vw;
    background-color: rgba(108, 186, 216, 0.2);

  }


  .tainan-borderline {
    display: none;
  }

  .tainan-borderlinepc {
    text-align: center;
    margin: 60px;
    border: 0.5px solid #00000055;
    height: 1px;
    max-width: 100%;
    margin: 120px auto;
    width: 480px;
  }



  /* 800px以上に適用(タブレット・PC可変用) */
  /***** ↓見出しの設定↓ *****/
  h2 {
    font-size: min(3.51vw, 48px);
    height: min(3.5vw, 96px);
    width: min(38.8vw, 530px);
    padding-left: min(4.71vw, 40px);
    padding-right: min(4.71vw, 40px);
    text-align: center;
    margin-top: 120px;

    margin-bottom: 80px;
  }

  h2::after {
    content: '';
    width: min(38.8vw, 530px);
    height: min(7.03vw, 96px);
    background-size: contain;
    left: 0%;
    top: -15px;
    transform: translateX(0%);
    margin-bottom: 80px;

  }

  .sub-index {
    font-size: min(1.76vw, 24px);
  }

  /* ↓2番目のh2だけ右寄せに */
  /* セクションのid指定をお願いします */
  #gourmet h2 {
    margin-left: auto;
    margin-right: 0;
  }

  .tainan-3leadtop {
    width: 30.75%;
    padding: 40px;
    text-align: left;
    font-size: clamp(12px, 1.46vw, 20px);

    margin-bottom: 80px;
    margin-right: 5.49vw;
  }

  .tainan-3leadtop2 {
    width: 30.75%;
    padding: 40px;
    text-align: left;
    font-size: clamp(12px, 1.46vw, 20px);

    margin-bottom: 80px;
    margin-left: 5.49vw;
  }


  .tainan-3lead {
    font-size: 1.464vw;
    line-height: 1.6;
  }

  .tainan-flex1 {
    display: flex;
  }

  h4,
  .subtitle {
    font-size: 2.635vw;
    text-align: left;
    padding-bottom: 20px;
    margin: 0;
  }

  p.subtitle {
    margin: 0;
    padding: 0;
    padding-left: 12px;
    font-size: 1.756vw;
    margin: auto 0;

  }

  .tainan-flex3 {
    display: flex;

  }

  .tainan-img3 {
    width: 37.34vw;
    height: 16.11vw;
  }

  .tainan-flex3,
  .tainan-flex4 {
    display: flex;

  }

  .tainan-flex4 {
    flex-direction: row-reverse;
  }


  h5 {
    font-size: 2.635vw;
    font-weight: bold;
    margin: 60px;
  }

  .tainan-4lead {
    width: 35.13vw;
    height: 100%;
    margin: auto 0;
    font-size: 1.464vw;
    padding: 40px;
    line-height: 1.6;
    padding-bottom: 20px;


  }

  /* フッター */
  #footer-area .footer-all {
    background-color: #007AB7;
    text-align: center;
    height: 340px;
    /* 例として150pxに変更 */
  }


  #footer-area .footer-img-logo {
    display: block;
    margin: 0 auto;
    width: 200px;

  }

  #footer-area .footer-pc-design {
    display: flex;

  }

  #footer-area ol {
    margin: 0;
  }

  #footer-area .footer-img-small-set {
    transform: translateY(-120px);

  }

  #footer-area table {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    top: 75px;
    right: 20px;
    /* 追加 */
  }

  #footer-area .footer-none {
    margin: 10px;

  }

  /* ↓ページトップアイコン用ここから */
  footer .toppage-btn {
    bottom: 60px;
    right: 40px;
  }

  /* フッターの高さ＋60px分位置を調整する */
  footer .toppage-btn.stop {
    bottom: 399.984px;
  }

  footer .toppage-btn img {
    width: min(7.32vw, 100px);
    height: min(7.32vw, 100px);
  }

  /* ↑ページトップアイコン用ここまで */


  /* 800px以上に適用(タブレット・PC可変用) */

  /* ↓★モーダル内画像★ */
  /* ↓画像設定(PC) */
  .modal .img {
    width: max(32.94vw, 450px);
    margin-top: 120px;
  }

  /* ↓★閉じるボタン★ */
  /* ↓位置の設定(PC) */
  .modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
  }

}

@media screen and (min-width: 1200px) {
  /* 1200px以上に適用（PC固定用） */
}